<h1>YearBook Tópicos 2014</h1>



<% if !user_signed_in? %>

<h3>Descrição:</h3>
<p>inhcibwicbuiwebcubewiucbuiwebcuiewbcuibewuicbiuwebcuiewbcuiewbcuibewiucbewuibciuebcuiewbcuibewicbeiwcb
<p>inhcibwicbuiwebcubewiucbuiwebcuiewbcuibewuicbiuwebcuiewbcuiewbcuibewiucbewuibciuebcuiewbcuibewicbeiwcb
<p>inhcibwicbuiwebcubewiucbuiwebcuiewbcuibewuicbiuwebcuiewbcuiewbcuibewiucbewuibciuebcuiewbcuibewicbeiwcb
<p>inhcibwicbuiwebcubewiucbuiwebcuiewbcuibewuicbiuwebcuiewbcuiewbcuibewiucbewuibciuebcuiewbcuibewicbeiwcb
<p>inhcibwicbuiwebcubewiucbuiwebcuiewbcuibewuicbiuwebcuiewbcuiewbcuibewiucbewuibciuebcuiewbcuibewicbeiwcb
<p>inhcibwicbuiwebcubewiucbuiwebcuiewbcuibewuicbiuwebcuiewbcuiewbcuibewiucbewuibciuebcuiewbcuibewicbeiwcb

<h3><p>Participantes:</h3>


    <% @users.each do |user| %>
    <div class="box panel panel-default col-lg-3 text-center" >
    <%= user.name %><br></br>
    <%= image_tag user.avatar.url(:thumb) %>
</div>

<% end %>
<% else %>


<% end %>
