<h1>YearBook Tópicos 2014</h1>

<p>O projeto consiste no desenvolvimento um álbum dos alunos da sua turma de Tópicos Especiais em Computação 2014/02.
<p>A ideia é implementar algo parecido com os Yearbooks publicados pelas escolas americanas. Assim, como atividade vocês deverão desenvolver
uma aplicaç ão com o framework Ruby on Rails com as seguintes funcionalidades:



<h3>Participantes:</h3>



<% @users.each do |user| %>
<%= user.name %><br></br>
<% end %>
